﻿<div ng-include="'components/navbar/navbar.html'" class="navbar-fixed-top"></div>

<div class="container" ng-style="printModalState.show && {'overflow-y':'hidden'}" ng-init="init()">

  <div class="container__in">
    <div class="row">
      <div class="col-xs-5 sidebar">
        <div class="tasks">
          <div ng-if="sSelectedTask=='tickets'" class="tasks-tickets-list-header">
            <div class="tickets-assign">
              <input type="checkbox" ng-model="ticketsFilter.bEmployeeUnassigned" id="ticketsFilter_bEmployeeUnassigned" ng-change="applyTicketsFilter()"
              />
              <label for="ticketsFilter_bEmployeeUnassigned">Тільки не взяті в обробку</label>
            </div>
            <div class="tickets-date">
              <a href ng-repeat="mode in ticketsFilter.dateModeList" ng-click="setTicketsDateMode(mode.key)" ng-class="{'selected':ticketsFilter.dateMode==mode.key}"
              class="tickets-date-mode">{{mode.title}}</a>
              <input type="date" class="form-control" ng-model="ticketsFilter.sDate" ng-change="applyTicketsFilter()" ng-if="ticketsFilter.dateMode=='date'"
              />
            </div>
            <div class="clearfix"></div>
          </div>

          <div class="sort-select" ng-if="sSelectedTask!='tickets'">
            <div class="task-list-header">
              <div class="task-list-header-row">
                <div class="task-list-header-cell">
                  <input ng-model="searchTask.orderId" class="task-list-header-search"
                         placeholder="Введіть № звернення для пошуку"
                         size="35" ng-keyup="($event.keyCode === 13)?searchTaskByOrder():0"/>
                </div>
                <div class="task-list-header-cell">
                  <input ng-model="searchTask.text" class="task-list-header-search"
                         placeholder="Введіть текст для пошуку"
                         size="35" ng-keyup="($event.keyCode === 13)?searchTaskByText():0"/>
                </div>
                <div class="right-aligned task-list-header-cell">
                  Сортувати: 
                  <select ng-options="option.value as option.text for option in sortOrderOptions"
                          ng-model="selectedSortOrder.selected"
                          ng-change="selectedSortOrderChanged()">
                  </select>
                  <!--<select>
                    <option onselect="sortorder('createTime',true)">Від найдавніших</option>
                    <option onselect="order('createTime',false)">Від найновіших</option>
                  </select>-->
                </div>
              </div>
              <div ng-show="$storage.menuType == 'selfAssigned' || $storage.menuType == 'unassigned'">Фільтр за статусом
                <select ng-options="option.name for option in taskDefinitions track by option.id" ng-model="model.taskDefinition" ng-change="taskDefinitionsFilterChange(option)">
                </select><small ng-hide="!tasks">{{ filteredTasks.length }} з {{ tasks.length }}</small>
              </div>
            </div>
          </div>
          <div class="list-group">
            <div ng-if="filteredTasks===null">
              <h3>Завантаження списку...</h3>
            </div>

            <div ng-if="filteredTasks!==null && filteredTasks.length==0">
              <h3>Задач не знайдено</h3>
            </div>

            <div ng-if="filteredTasks!==null  && filteredTasks.length>0">

              <div ng-if="sSelectedTask=='tickets'">
                <a class="list-group-item task {{sSelectedTask}}_{{task.id}}" href="" tooltip="Слот №{{task.nID_FlowSlot}} (Задача №{{task.nID_Task_Activiti}}, Процесс №{{task.nID_Instance}})"
                ng-repeat="task in tasks" ng-click="selectTask(task)" ng-class="{'active': isTaskSelected(task)}">
                  <span class="ticket-date-time">{{task.sDateStart|date:'yyyy-MM-dd HH:mm'}}</span>, №{{task.nID_Instance}}{{lunaService.getLunaValue(task.nID_Instance)}},
                  (Тікет №{{task.nID}})
                  <br/> {{task.sNameBP}}. {{task.sUserTaskName}}.
                </a>
              </div>

              <div ng-if="sSelectedTask!='tickets'">
                <a class="list-group-item task {{sSelectedTask}}_{{task.processInstanceId}} {{ sTaskClass(task.taskDefinitionKey) }}" href=""
                    ng-repeat="task in filteredTasks | orderBy:predicate:reverse"
                    tooltip="{{task.description}} (Задача №{{task.id}}, Процесс №{{task.processDefinitionId}})"
                    ng-click="selectTask(task)"
                    ng-class="{'active': isTaskSelected(task)}">
                  <span class="ticket-date-time">{{ task.createTime ? sDateShort(task.createTime) : sDateShort(task.startTime) }}{{ task.endTime ? ' - ' + sDateShort(task.endTime) : '' }}</span>
                  №{{task.processInstanceId}}{{lunaService.getLunaValue(task.processInstanceId)}} {{ getProcessName(task.processDefinitionId)
                  }} | {{ task.name }}

                </a>
              </div>

            </div>

          </div>
        </div>
      </div>
      <div class="col-xs-7 col-xs-offset-5 main tasks-form">
        <div class="tasks-form-view">
          <h3 ng-show="selectedTask && taskForm == null && !error">Завантаження ...</h3>

          <show-error data="error" ng-show="error"></show-error>

          <div ng-repeat="item in taskForm" class="task-form-property" ng-show="selectedTask">

            <div ng-if="['string', 'long', 'date'].indexOf(item.type) > -1">
              <field-title></field-title>
              <simple-field></simple-field>
            </div>

            <textarea-field></textarea-field>

            <user-field></user-field>

            <enum-field></enum-field>

            <file-formfield></file-formfield>

            <p style="display: none;" ng-if="['invisible'].indexOf(item.type) > -1">
              <field-title></field-title>
            </p>

            <p ng-if="['label'].indexOf(item.type) > -1">
              <field-title></field-title>
              <label>{{item.value}}</label>
            </p>

            <p ng-if="['queueData'].indexOf(item.type) > -1">
              <field-title></field-title>
              <label title="{{nID_FlowSlotTicket_FieldQueueData(item.value)}}">{{sDate_FieldQueueData(item.value)}}</label>
            </p>


          </div>

          <div ng-show="attachments">
            <p ng-repeat="item in attachments" ng-show="taskFormLoaded">
              Файл: <a href="/api/tasks/{{taskId}}/attachments/{{item.id}}/content/{{($index+1)}}" target="_blank"><b>{{item.name}}</b></a>              {{item.description}}
            </p>
          </div>
        </div>
        <div class="tasks-form-buttons">
          <p ng-if="selectedTask">
            <div ng-hide="selectedTask.assignee != null">
              <puttowork-button></puttowork-button>
            </div>
            <div ng-hide="selectedTask.assignee == null">
              <submittask-button></submittask-button>
              <br/>
              <br/>
            </div>
            <!--div ng-hide="selectedTask.assignee == null || sSelectedTask == 'finished'">
              <button ng-hide="!taskFormLoaded || sSelectedTask == 'finished'" ng-click="print()" class="btn btn-success">Роздрукувати
              </button>
            </div-->
          
            <div ng-hide="selectedTask.assignee === null || sSelectedTask == 'finished'">
              <button ng-hide="!taskFormLoaded || !selectedTask" ng-click="print()" class="btn btn-success">Роздрукувати
              </button>
            </div>
            <select class="aPatternPrint form-control" ng-options="option.displayTemplate for option in printTemplateList track by option.id" ng-required ng-model="model.printTemplate" ng-hide="printTemplateList.length == 0 || selectedTask.assignee === null || sSelectedTask === 'finished'" >
            </select>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<print-dialog></print-dialog>

